<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.remake.weplay.field.model.dao.FieldMapper">

	<resultMap type="field" id="fieldResultMap">
		<result column="FIELD_NO" 	property="fieldNo" />
		<result column="FIELD_NAME" property="fieldName" />
		<result column="LOCATION" 	property="location" />
		<result column="GROUND" 	property="ground" />
		<result column="SIZE" 		property="size" />
		<result column="BUILT_YEAR" property="builtYear" />
	</resultMap>
	
	<resultMap type="fieldRental" id="fieldRentalResultMap">
		<result column="RENTAL_NO" property="rentalNo" />
		<result column="FIELD_NO" property="fieldNo" />
		<result column="FIELD_NAME" property="fieldName" />
		<result column="RENTAL_DATE" property="rentalDate" />
		<result column="RENTAL_TIME" property="rentalTime" />
		<result column="RESERVED_DATE" property="reservedDate" />
		<result column="STATUS" property="status" />
	</resultMap>
	
	<sql id="field">
		SELECT
			   FIELD_NO,
			   FIELD_NAME,
			   CITY || ' ' || DISTRICT AS LOCATION,
			   GROUND,
			   WIDTH || 'm' || ' x ' || LENGTH || 'm' AS "SIZE",
			   NVL(BUILT_YEAR, '정보 없음') AS BUILT_YEAR
	      FROM
	           FIELD
	</sql>
	
	<sql id="fieldRental">
		SELECT
		       RENTAL_NO,
		       FIELD_NO,
		       FIELD_NAME,
		       RENTAL_DATE,
		       RENTAL_TIME,
		       RESERVED_DATE,
		       STATUS
		  FROM
		       FIELD_RENTAL
		  JOIN 
		       FIELD USING(FIELD_NO)
	</sql>
	
	<select id="countFields" parameterType="hashmap" resultType="_int">
		SELECT
		       COUNT(*)
		  FROM
		       FIELD
		<if test="query != 'all'">
	     <choose>
	     	<when test="query != 'all' and category == 'all'">
	     WHERE FIELD_NAME LIKE '%' || #{query} || '%' 
	        OR CITY 	  LIKE '%' || #{query} || '%'
	        OR DISTRICT   LIKE '%' || #{query} || '%'
	     	</when>
	     	<when test="query != 'all' and category == 'fieldName'">
	     WHERE FIELD_NAME LIKE '%' || #{query} || '%' 
	     	</when>
	     	<when test="query != 'all' and category == 'location'">
	     WHERE CITY   	  LIKE '%' || #{query} || '%'
	        OR DISTRICT   LIKE '%' || #{query} || '%'
	     	</when>
	     </choose>
	     </if>       
	</select>
	
	<select id="selectFields" parameterType="hashmap" resultMap="fieldResultMap">
		 <include refid="field"/>
	     <if test="query != 'all'">
	     <choose>
	     	<when test="query != 'all' and category == 'all'">
	     WHERE FIELD_NAME LIKE '%' || #{query} || '%' 
	        OR CITY 	  LIKE '%' || #{query} || '%'
	        OR DISTRICT   LIKE '%' || #{query} || '%'
	     	</when>
	     	<when test="query != 'all' and category == 'fieldName'">
	     WHERE FIELD_NAME LIKE '%' || #{query} || '%' 
	     	</when>
	     	<when test="query != 'all' and category == 'location'">
	     WHERE CITY   	  LIKE '%' || #{query} || '%'
	        OR DISTRICT   LIKE '%' || #{query} || '%'
	     	</when>
	     </choose>
	     </if>
	     ORDER
	        BY 
	           FIELD_NO
	</select>
	
	<select id="selectField" parameterType="_int" resultMap="fieldResultMap">
		<include refid="field"/>
		WHERE
		      FIELD_NO = #{fieldNo}
	</select>
	
	<select id="findByRentalDate" parameterType="fieldRental" resultType="string">
		SELECT
		       RENTAL_TIME
		  FROM
		       FIELD_RENTAL
		 WHERE
		       RENTAL_DATE = TO_DATE(#{ rentalDate }, 'YYYY-MM-DD')
		   AND
		       STATUS = 'Y'
	</select>
	
	<insert id="addRental" parameterType="fieldRental">
		INSERT
		  INTO
		       FIELD_RENTAL
		       (RENTAL_NO, FIELD_NO, MEMBER_NO, RENTAL_DATE, RENTAL_TIME)
		VALUES
		       (SEQ_RENTAL.NEXTVAL, #{fieldNo}, #{memberNo}, #{rentalDate}, #{rentalTime})
	</insert>
	
	<select id="getRentals" parameterType="fieldRental" resultMap="fieldRentalResultMap">
		<include refid="fieldRental"/>
		<choose>
			<when test='status eq "Y"'>
		 WHERE
		       RENTAL_DATE > SYSDATE
		   AND
		       STATUS = 'Y'
		   AND
		       MEMBER_NO = #{memberNo}
		 ORDER
		    BY RENTAL_DATE, RENTAL_TIME
			</when>
			<otherwise>
		 WHERE
		       (RENTAL_DATE <![CDATA[<]]> SYSDATE
		   AND
		       STATUS = 'Y'
		    OR
		       STATUS = 'N')
		   AND
		       MEMBER_NO = #{memberNo}
		 ORDER
		    BY RENTAL_DATE DESC, RENTAL_TIME DESC 
			</otherwise>
		</choose>
		
	</select>
	
</mapper>