<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.remake.weplay.match.model.dao.MatchMapper">
	<!--  
	<resultMap type="match" id="matchList">
		<result column="MATCH_NO" property=""/>
		<result column="" property=""/>
		<result column="" property=""/>
		<result column="" property=""/>
		<result column="" property=""/>
		<result column="" property=""/>
	</resultMap>
	-->
	
	
	<insert id="insertMatch" parameterType="match">
		INSERT INTO MATCH
		(MATCH_NO, FIELD_NO, HOME_TEAM, AWAY_TEAM, MATCH_DATE, MATCH_TIME)
		VALUES
		(SEQ_MATCH.NEXTVAL, #{fieldNo}, #{homeTeam}, #{awayTeam}, TO_DATE(#{matchDate}, 'YYYY-MM-DD HH24:MI'), #{matchTime})
	</insert>
	<!--  
	<select id="getUpcomingMatches" parameterType="_int" resultMap="">
	
	</select>
	
	<select id="getPreviousMatches" parameterType="_int" resultMap="">
	
	</select>
	-->
</mapper>