<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.remake.weplay.member.model.dao.MemberMapper">
	
	<!-- 로그인용 쿼리문 -->
	<select id="login" parameterType="member" resultType="member">
	SELECT
	    M.MEMBER_NO userNo,
	    M.MEMBER_ID userId,
	    M.PASSWORD userPwd,
	    M.NICKNAME nickName,
	    M.AGE age,
	    M.PHONE phone,
	    M.ADDRESS address,
	    M.INFO info,
	    M.SKILL skill,
	    M.POSITION position,
	    M.SUB_POSITION subPosition,
	    M.ENROLL_DATE enrollDate,
	    M.UPDATE_DATE updateDate,
	    NVL(M.TEAM_NO, 0) teamNo,
	    T.MEMBER_TYPE memberType
	FROM
	    MEMBER M
	LEFT JOIN
	    (SELECT
	         TEAM_NO,
	         MEMBER_NO,
	         MEMBER_TYPE 
	     FROM
	         TEAM_MEMBER
	     WHERE 
	         STATUS = 'Y') T ON(M.MEMBER_NO = T.MEMBER_NO)
	WHERE
	    M.MEMBER_ID = #{userId}
	AND 
	    M.STATUS = 'Y'

	</select>
	
	<!-- 회원가입용 쿼리문 -->
	<insert id="insert" parameterType="member">
		INSERT
		  INTO
		       MEMBER
		       (
		       MEMBER_NO,
		       	MEMBER_ID,
		       	PASSWORD,
		       	NICKNAME,
		       	AGE,
		       	PHONE,
		       	ADDRESS,
		       	INFO,
		       	SKILL,
		       	POSITION,
		       	SUB_POSITION
		       )
		VALUES
		       (
		       SEQ_MNO.NEXTVAL,
		       #{userId},
		       #{userPwd},
		       #{nickName},
		       #{age},
		       #{phone},
		       #{address},
		       #{info},
		       #{skill},
		       #{position},
		       #{subPosition}
		       )
	</insert>
	
	<update id="update" parameterType="member">
		UPDATE
		       MEMBER
		   SET
		       NICKNAME = #{nickName},
		       AGE = #{age},
		       PHONE = #{phone},
		       ADDRESS = #{address},
		       INFO=#{info},
		       SKILL=#{skill},
		       POSITION=#{position},
		       SUB_POSITION=#{subPosition},
		       TEAM_NO=#{teamNo},
		       UPDATE_DATE = SYSDATE
		 WHERE
			   MEMBER_ID = #{userId}
	</update>
	
	<update id="delete" parameterType="member">
		UPDATE
		       MEMBER
		   SET
		       STATUS = 'N',
		       MODIFY_DATE = SYSDATE
		 WHERE
		       MEMBER_ID = #{userId}
	</update>
	
	<!-- 아이디 중복 체크용 쿼리문 -->
	<select id="idCheck" parameterType="string" resultType="_int">
		SELECT
		COUNT(*)
		FROM MEMBER 
		WHERE USER_ID = #{checkId}
	</select>


</mapper>